﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="InstructorsCourses.aspx.cs"
    Inherits="ContosoUniversity.InstructorsCourses" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<h2>Assign Instructors to Courses or Remove from Courses</h2> 
<p> 
    Select an Instructor: 
    <asp:DropDownList ID="InstructorsDropDownList" runat="server" DataSourceID="InstructorsEntityDataSource" 
        AutoPostBack="true" DataTextField="Name" DataValueField="PersonID" 
        OnSelectedIndexChanged="InstructorsDropDownList_SelectedIndexChanged"  
        OnDataBound="InstructorsDropDownList_DataBound"> 
    </asp:DropDownList> 
</p>
    <h3>Assign a Course</h3>
<p>
    Select a Course: 
    <asp:DropDownList ID="UnassignedCoursesDropDownList" runat="server" 
        DataTextField="Title" DataValueField="CourseID"> 
    </asp:DropDownList> 
    <asp:Button ID="AssignCourseButton" runat="server" Text="Assign" OnClick="AssignCourseButton_Click" /> 
    <br /> 
    <asp:Label ID="CourseAssignedLabel" runat="server" Visible="false" Text="Assignment successful"></asp:Label> 
</p>
    <h3>Remove a Course</h3> 
<p>
    Select a Course: 
    <asp:DropDownList ID="AssignedCoursesDropDownList" runat="server" 
        DataTextField="title" DataValueField="courseiD"> 
    </asp:DropDownList> 
    <asp:Button ID="RemoveCourseButton" runat="server" Text="Remove" OnClick="RemoveCourseButton_Click" /> 
    <br /> 
    <asp:Label ID="CourseRemovedLabel" runat="server" Visible="false" Text="Removal successful"></asp:Label>
</p>
    <asp:EntityDataSource ID="InstructorsEntityDataSource" runat="server"  
        ContextTypeName="ContosoUniversity.DAL.SchoolEntities" EnableFlattening="False"  
        EntitySetName="People" EntityTypeFilter="Instructor"
        Select="it.LastName + ', ' + it.FirstMidName AS Name, it.PersonID"> 
    </asp:EntityDataSource>
</asp:Content>
