﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="ContosoUniversity.SiteMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
    <div class="page">
        <div class="header">
            <div class="title">
                <h1>
                    Contoso University
                </h1>
            </div>
            <div class="loginDisplay">
                <asp:LoginView ID="HeadLoginView" runat="server" EnableViewState="false">
                    <AnonymousTemplate>
                        [ <a href="~/Account/Login.aspx" ID="HeadLoginStatus" runat="server">Log In</a> ]
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold"><asp:LoginName ID="HeadLoginName" runat="server" /></span>!
                        [ <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out" LogoutPageUrl="~/"/> ]
                    </LoggedInTemplate>
                </asp:LoginView>
            </div>
            <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" 
                    IncludeStyleBlock="false" Orientation="Horizontal"> 
                    <Items> 
                        <asp:MenuItem NavigateUrl="/Default.aspx" Text="Home" /> 
                        <asp:MenuItem NavigateUrl="/About.aspx" Text="About" /> 
                        <asp:MenuItem NavigateUrl="/Students.aspx" Text="Students"> 
                            <asp:MenuItem NavigateUrl="/StudentsAdd.aspx" Text="Add Students" /> 
                        </asp:MenuItem> 
                        <asp:MenuItem NavigateUrl="/Courses.aspx" Text="Courses"> 
                            <asp:MenuItem NavigateUrl="/CoursesAdd.aspx" Text="Add Courses" /> 
                        </asp:MenuItem> 
                        <asp:MenuItem NavigateUrl="/Instructors.aspx" Text="Instructors"> 
                            <asp:MenuItem NavigateUrl="/InstructorsCourses.aspx" Text="Course Assignments" /> 
                            <asp:MenuItem NavigateUrl="/OfficeAssignments.aspx" Text="Office Assignments" /> 
                        </asp:MenuItem> 
                        <asp:MenuItem NavigateUrl="/Departments.aspx" Text="Departments"> 
                            <asp:MenuItem NavigateUrl="/DepartmentsAdd.aspx" Text="Add Departments" /> 
                        </asp:MenuItem> 
                    </Items> 
                </asp:Menu>
            </div>
        </div>
        <div class="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="footer">
        
    </div>
    </form>
</body>
</html>
